# Python virtual environments
**/.venv/
**/venv/
**/ENV/
**/env/

# Python bytecode
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Testing
**/.pytest_cache/

# Environment variables
*.env

# Logs and temporary files
*.log
*.tmp
*.temp
*.cache

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Local editor state
.cursorrules
